apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: compute-long-running-quota
    namespace: "{{ NAMESPACE }}"
    labels:
      environment: "{{ ENVIRONMENT }}"
      name: "{{ LICENCE_PLATE }}"
      provisioned-by: 101-provisioner-playbook
  spec:
    hard:
      limits.cpu: "8"
      limits.memory: 32Gi
      requests.cpu: "4"
      requests.memory: 16Gi
      pods: "50"
    scopes:
    - NotTerminating
    - NotBestEffort
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: compute-time-bound-quota
    namespace: "{{ NAMESPACE }}"
    labels:
      environment: "{{ ENVIRONMENT }}"
      name: "{{ LICENCE_PLATE }}"
      provisioned-by: 101-provisioner-playbook
  spec:
    hard:
      limits.cpu: "8"
      limits.memory: 32Gi
      requests.cpu: "4"
      requests.memory: 16Gi
      pods: "50"
    scopes:
    - Terminating
    - NotBestEffort
- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: compute-best-effort-quota
    namespace: "{{ NAMESPACE }}"
    labels:
      environment: "{{ ENVIRONMENT }}"
      name: "{{ LICENCE_PLATE }}"
      provisioned-by: 101-provisioner-playbook
  spec:
    hard:
      pods: "10"
    scopes:
    - BestEffort
- apiVersion: v1
  kind: LimitRange
  metadata:
    name: default-limits
    namespace: "{{ NAMESPACE }}"
    labels:
      environment: "{{ ENVIRONMENT }}"
      name: "{{ LICENCE_PLATE }}"
      provisioned-by: 101-provisioner-playbook
  spec:
    limits:
    - default:
        cpu: 250m
        memory: 1Gi
      defaultRequest:
        cpu: 50m
        memory: 256Mi
      type: Container