NS_PREFIX=''
NS_TOOLS="${NS_PREFIX}-tools"
NS_DEPLOY="${NS_PREFIX}-dev"
NS_WORKBENCH="${NS_PREFIX}-workbench"
# append "/export?gid=0&format=csv" to the google spreadsheet URL
GOOGLE_DOCS_CSV_URL=''
# GitHub Personal Access token with "admin:org" and "user" privilege to be able to add GitHub org membership
GITHUB_TOKEN=''

