rc_user_id=''
rc_user_token=''
rc_url='https://chat.pathfinder.gov.bc.ca'
# On RocketChat create a channel following the naming convention "ocp101-YYYY-MM-DD",
# and create a discussion (e.g.: "Workbenches"), the 'rc_workbenches_room_id' is the code at the end of the discussion URL
rc_workbenches_room_id=''