<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"MyLoggingApp"}</customFields>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>
    <springProfile name="default">
        <root level="info">
            <appender-ref ref="JSON" />
        </root>
     
        <logger name="com.mycompany.app" level="info" additivity="false">
            <appender-ref ref="JSON" />
        </logger>
    </springProfile>
    
 
</configuration>